{% load static %}
<!DOCTYPE html>

<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Himanshu">
        {% block 'title' %}
        <title>Shivhare Motors Welcomes You </title>
        {% endblock %}
        <!--Bootstrap-->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

    </head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                {{ message }}
                <!-- messages is inbuild function of django to display messages -->
            </div>
        {% endfor %}
    {% endif %}
    {% block 'header' %}
    <header class="p-3 bg-dark text-white w-100 nav-masthead">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
                <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img class="bi me-2" width="80"  src="{% static 'images/sm-logo.webp' %}" aria-label="bootstrap">

                </a>
                {% if request.user.is_authenticated %}
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content">
                    <li>
                        <a href="" class="nav-link px-2">
                            Profile
                        </a>
                    </li>
                </ul>
                <div class="text-end">
                    <a type="button" href="{% url 'logout' %}" class="btn btn-danger">
                        Logout
                    </a>

                </div>
                {% endif %}
            </div>
        </div>
    </header>
    {% endblock %}

    {% block 'body' %}
    {% endblock %}
</body>
{% block 'footer' %}
<footer class="footer text-muted bg-dark py-5">
        <div class="container">
            <p class="float-end mb-1">Powered by <a href="google.com">Django</a></p>
            <p class="mb-1">AutoMax-Best place to buy or sell Cars</p>
        </div>
</footer>
{% endblock %}

</html>